@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* Heading */
.heading h2{
    font-size: 28px;
    font-weight: 500;
    border-left: 8px solid #010101;
    padding: 5px 15px;
    margin-bottom: 15px;
}
.heading p{
    font-size: 18px;
}
.heading p span{
    font-weight: 600;
    color: #101010;
}

/* Buttons */
.btn1{
    font-size: 1rem;
    font-weight: 400;
    background-color: #000000;
    color: #fff;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    text-decoration: none !important;
    transition: all 0.5s;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline;
    /* display: grid; */
    margin: auto;
}
.btn1:hover{
    background-color: #c5e9f7;
    color: #000000;
}

/* Header */
header{
    background-color: #000000;
    width: 100%;
    
}

header .navbar-brand{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

nav{
    padding: 8px 0px !important;
}

.cont-sec{
    padding: 8px;
    background-color: #fdeea8;
    width: 100%;
}

.cont-sec .contact-cont{
    display: flex;
    flex-wrap: wrap;
}
.cont-sec p{
    margin: 0;
}

.cont-sec p a{
    text-decoration: none;
    color: #000000;
}

.cont-sec .social{
    text-align: right
}

.cont-sec .social a img{
    width: 20px;
    margin-left: 15px;
}

.home-sec{
     /* height: 100vh;  */
    padding: 100px 0;
    background-image: url('../1.jpg');
    background-size: cover;
    width: 100%;
    /*background-color: rgb(195, 245, 245);*/
}

.home-sec .home-content {
    align-items: center;
    justify-content: center;
}

.home-sec .home-content h1{
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    display: inline-block;
} 
.home-sec .home-content h2 span{
    color: #06d20d;
}

.home-sec .home-content h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}
.home-sec .home-content p{
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.home-sec .img-sec{
    display: flex;
    justify-content: center;
}

.home-sec .img-sec img{
    width: 400px;
    border-radius: 10%;
}

.home-sec .home-content{
    align-items: center;
    justify-content: center;
    display: inline-block;      
    padding: 150px 150px;
}

/* About section */
.about-sec{
    padding: 150px 0;
    background-color: #adfdea;
}

.about-sec img{
    width: 350px;
    border: 5px solid #000000;
    border-radius: 5px;
}

.about-sec .about-txt p{
    font-size: 18px;
}

/* Donation Section */
.don-sec{
    background-color: #bdeefa;
    padding: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.don-sec .don-box{
    margin: 50px 0;
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px #b4afaf;
    transition: all 1s;
}

.don-sec .don-box img{
    width: 70px;
    transition: all 1s;
}

.don-sec .don-box h3{
    margin: 15px 0 10px;
}

.don-sec .don-box p{
    margin-bottom: 25px;
}

.don-sec .don-box:hover img{
    transform: scale(1.1);
}

/* Missions */
.mission{
    padding: 150px 0;
}


.gallery-sec{
	position: relative;
	padding: 50px 0;
}

.gallery-sec .image-container{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 10px;
}

.gallery-sec .image-container .image{
	height: 200px;
	width: 300px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	overflow: hidden;
}

.gallery-sec .image-container .image img{
	height: 100%;
	width: 100%;
	border: 5px solid #d4d4d4;
	object-fit: cover;
	transition: 0.2s linear;
}

.gallery-sec .image-container .image:hover img{
	transform: scale(1.1);
}

.gallery-sec .pop-image{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
}

.gallery-sec .pop-image span{
	position: absolute;
	top: 120px;
	right: 50px;
	font-size: 60px;
	font-weight: bolder;
	color: #ffffff;
	cursor: pointer;
	z-index: 100;
}

.gallery-sec .pop-image img{
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid #ffffff;
	width: 750px;
	object-fit: cover;
}

/* Conatact Us */
.contact-section {
    padding: 150px 0 80px;
}

.contact-section .contact-form .form-group {
    margin-bottom: 20px;
}

.contact-section .contact-form .form-control {
    height: 50px;
    border-radius: 5px;
}

.contact-section .contact-form textarea.form-control {
    height: 120px;
    margin-bottom: 10px;
}

.contact-section .contact-form .form-control:focus {
    box-shadow: none;
}




/* Footer */
footer{
    background-color: #030303;
    color: #f5f2f2;
    padding: 50px 0;
}
footer h4{
    margin-bottom: 20px;
}
footer p a{
    text-decoration: none;
    color: #e6edff;
}
footer p a:hover{
    text-decoration: none;
    color: #e6edff;
}


footer .col-two ul li{
    list-style: none;
}

footer .col-two ul li a{
    color: #e6edff;
    text-decoration: none;
    transition: all 0.5s;
}
footer .col-two ul li a:hover{
    margin-left: 5px;
}
footer .social{
    margin-bottom: 30px;
}
footer .social a img{
    width: 20px;
    margin-right: 15px;
}

/* Scroll Bar */

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    border: 7px solid transparent;
}

::-webkit-scrollbar-thumb{
    background: #050505;
}

.cp{
    align-items: center;
    justify-content: center;
    display: flex;
}